.content {
    position: relative;
    border: 2px solid #000;
    border-radius: 8px;
    border-top: 2px solid #000;
    background: #fff;
    border-top-left-radius: 0px;
    padding: 20px;
    min-height: 150px;
    z-index: 1;
}  