.tabContainer {
    width: 1200px;
    margin: 100px auto;
    font-family: sans-serif;
    font-size: 16px;
}

.tabList {
    display: flex;
    position: relative;
    z-index: 2;
    margin-bottom: -2px;
}

.tab {
    min-width: 100px;
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid #000;
    border-bottom: none;
    background: #f0f0f0;
    margin-right: 50px; 
    cursor: pointer;
    user-select: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.activeTab {
    background: #fff;
    z-index: 3;
    font-weight: bold;
}

.content {
    position: relative;
    border: 2px solid #000;
    border-radius: 8px;
    border-top: 2px solid #000;
    background: #fff;
    border-top-left-radius: 0px;
    padding: 20px;
    min-height: 150px;
    z-index: 1;
}  