.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)),
              url('/assets/background_image/world-map-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: rgba(255, 255, 255, 0.85); /* slight overlay to enhance readability */
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin-top: 90px; /* Center the container */
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  position: relative;
}

/* Responsive styles */
@media (max-width: 1024px) { /* Tablet */
  .container {
    padding: 1.5rem;
    max-width: 900px;
    margin-top: 100px;
  }
}

@media (max-width: 768px) { /* Mobile */
  .container {
    padding: 1rem;
    max-width: 100%;
    margin-top: 60px;
  }
}

.event-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #ffffff;
  margin: 10px; /* Space between cards */
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.event-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px;
}

.event-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.event-details {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 16px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 10px; /* Space below tags */
  gap: 5px; /* Space between tags */
}

.event-tag {
  background-color: #1976d2;
  color: white;
  margin-right: 4px;
  font-size: 0.8rem;
  padding: 4px 8px;
}

.event-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* Push actions to the bottom */
}

.publish-btn {
  background-color: #4caf50 !important;
  color: white;
}

.delete-btn {
  color: #d32f2f;
  border-color: #d32f2f;
}

.event-card:hover .delete-btn {
  background-color: #b71c1c !important;
  color: white;
}

.event-card:hover .edit-btn {
  background-color: #388e3c !important;
  color: white;
}

.event-card:hover .event-title {
  color: #1976d2;
}

.event-card:hover .event-details {
  color: #333;
}

.event-no-events {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin-top: 50px; /* Space above the message */
}

.event-no-events h2 {
  font-size: 2rem;
  color: #333;
  margin-top: 20px; /* Space above the heading */
}